/* *@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@500&family=Sen:wght@800&family=Work+Sans:wght@400;600;700&display=swap'); */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sen', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.nav-title-icon {
    align-items: center;
    display: flex;
    gap: 20px;
}

.nav-game {
    font-size: 45px;
    font-weight: 700
}

#g-colour {
    color: #F948B2;
}

.img-frame {
    width: 50px;
    height: 50px;
}

.nav-li {
    display: flex;
    align-items: center;


}

.nav-li a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #3C354F;
}

/* ............banner........... */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 68px;
}

.banner-content {
    background-image: url(../images/Group\ 14.png);
    width: 800px;
    height: 600px;
    padding-top: 80px;
    padding-left: 220px;
}

.banner-name {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
}


#goat {
    font-size: 4.30rem;
    font-weight: 600;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.btn-primary {
    padding: 20px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    border-radius: 48px;
    border: 0;
    justify-content: center;
}

#sing {
    background-color: #FF42A5;
}

#go {
    background-color: #4EC5F7;
}

.button {
    padding-top: 24px;
}

.banner-img {
    /* max-width: 100%; */
    /* border: 2px solid salmon;
    width: 700px;
    height: 500px; */
    justify-content: center;


}

img {}

/*\\\\\\\\\\\\\\\\\\ media quary////////////// */
@media screen and (max-width:576px) {
    .nav-container {
        display: grid;
    }

    .nav-li {
        grid-template-columns: 1fr;
        flex-direction: column;
        gap: 8px;
    }

    .banner-container {
        /* display: grid; */
        /* display: flex; */
        flex-direction: column-reverse;


    }

    .banner-content {
        justify-content: center;
        width: 400px;
        padding: 2px 100px;
    }


    .banner-img {
        width: 500px;
        padding: 8px 30px;
        margin: 0 auto;
        justify-content: center;
    }

    .poster-container {
        display: grid;
        flex-direction: column;
    }

    .poster-img {
        width: 400px;
        height: 200px;
    }

    .poster-discription {
        text-align: center;
    }

    .poster-discription-title,
    .poster-img {
        width: 100%;

    }

}

/* /////////////\\\\\\media quary end\\\\\\\\\\\\\\\////////*/
/*......................main poster....................... */
.poster-container {
    display: flex;
    gap: 60px;
    padding-top: 8px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    ;
}

.poster-img {
    width: 500px;
    height: 489px;
    padding-top: 48px;
    padding-left: 24px;
}

.poster-discription-title {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.poster-discription-info {
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
}

#more {
    background-color: #F948B2;
    text-transform: uppercase;

}

.poster-discription {
    text-align: end;
    padding-right: 100px;
}

.our {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;

}

.unleash {
    color: #534C64;
    font-size: 24px;
    font-weight: 700;
}

/* card-container */
.card-container h1 {
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}

.card-container p {
    color: #534C64;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.card-container-title {
    text-align: center;
}
.card-container-p{
    text-align: center;
}
.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.card-styles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-right: 16px 150px; */
    padding: 24px 240px;
}

.card-styles,
img {
    width: 200px;
    height: 250px;
}

.card {
    padding-right: 24px;
}

.card p {
    color: #534C64;
    font-size: 12px;
    font-weight: 300;
}